@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(
    45deg,
  hsl(240deg 89% 21%) 0%,
  hsl(240deg 73% 20%) 10%,
  hsl(240deg 62% 19%) 20%,
  hsl(240deg 49% 17%) 30%,
  hsl(240deg 33% 15%) 40%,
  hsl(0deg 0% 11%) 50%,
  hsl(0deg 35% 16%) 60%,
  hsl(0deg 51% 18%) 70%,
  hsl(0deg 62% 20%) 80%,
  hsl(0deg 72% 22%) 90%,
  hsl(0deg 83% 23%) 100%
    );
    color: white;
    text-align: justify;
}

.contenedorTitulo{
    display: flex;
    justify-content: center;
}

.menu {
    color: brown;
    list-style-type: none;
    font-weight:900;
}
.menu li {
    display: inline;
    margin-right: 10px;
}

.menu li a {
    color: brown; 
}

.ingredientes {
    list-style-position: inside;    
}

.contenedor {
    width: 100%;
    height: 50vh;
    background-color: hsl(157, 79%, 47%);
    background-image: url(./../img/dark-soul.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 20px 0px 60px 0px;
    padding: 20px 60px 150px 16px;
    border-radius: 30px;
}
.contenedor p {
    width: 100%;
    text-align: justify;
    line-height: 30px;
    text-decoration: underline dotted;
    color: white;
}

.parrafo {
    margin: 10px;
    padding: 10px;
}
